body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

select{
  background-color: transparent;
  border: 0px solid transparent;
  /* border-bottom: 3px solid white; */
}

textarea:focus, input:focus{
    outline: none;
}



.Countdown ,.dname, .aname ,.time {
  font-family: Montserrat;
  font-weight:bolder;
  font-size: 22px;
}


.nav{
  display: flex;
  flex-direction: row;
  padding: 0 20px 0 10px;
  justify-content:space-between;
  align-items: center;
}

.nav1{
  font-family: Montserrat;
  font-size: 26px;
  color: white;
}

.nav2{
  font-family: Montserrat;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid white;
  color: white;
}



.itemDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  padding: 6% 0 1% 0;
  border-bottom: 2px solid #3399ff;

}

.home-row{

  overflow: auto;
white-space: nowrap;
}


.contentDiv{

  padding-left: 10%;
  padding-right: 10%;

}

.SearchForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SearchFormDiv{
  display: flex;
  flex-direction: column;
  background-color: #1051F1;
  padding-bottom: 3%;
}



.Search-item1 , .Search-item2{
  width: 300px;
  height: 42px;
  padding: 10px 0 0 10px;
  color: white;
  font-family: Montserrat;
  font-weight:bolder;
  font-size: 22px;

}


.Search-item2{
  margin-left: 50px;

}

.InvalidSearchDiv{
  display: flex;
  justify-content: center;
}

.call{
  background-color: 'yellow';
}


.dropdown-item{
  color: red;
}


.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 10px 0;
  color: white;
  background-color: white;
  width: 100%;
  bottom:0;
}

.footer-text1{
  color: #1051F1;
  margin-right: 5px;
}

.footer-text2{
  color: #1051F1;
  text-decoration: none;
  border-bottom: 1px solid #1051F1;
}


@media only screen and (max-width: 570px) {

.SearchForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Search-item2{
  margin: 15px 0 0 0;
}

.Search-item2, .Search-item1{
  text-align: center;
  align-content: center;
  border: 2px solid white;
  padding: 0 0 0 10%;


}


.dropdown-item{
  text-align: center;
  align-content: center;
}

.dname, .aname{
  display: none;
}

.contentDiv{

  padding-left: 2%;
  padding-right: 2%;

}

.nav2{
  text-decoration: none;
  border-bottom: 1px solid transparent;
  margin-left: 5px;

}

.nav{
padding: 0 0 0 10px;
}

.footer{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}



}
